{% load i18n l10n static leaflet_tags generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Address" %} {{ address.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>

<a href="{% url opts|admin_urlname_as_dict:'change' address.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Address" %} {{ address.id }}</h1>

<h2>{% translate "Address data" %}</h2>

{% if address.map %}
    {% leaflet_map "map" callback="window.map_init_basic" %}
{% endif %}

<br />

{% include "django_futils/includes/address_data.html" with address=address %}

<h2>{% translate "Other" %}</h2>

<table>
    <tr>
        <th>{% translate "Type" %}</th>
        <th>{% translate "Municipality" %}</th>
        {% if type == 'person' %}
            <th>{% translate "Person" %}</th>
        {% elif type == 'company' %}
            <th>{% translate "Company" %}</th>
        {% endif %}
    </tr>
    <tr>
        <td><a href="{% url addresstype_detail_view_reverse_url address.type.id %}">{{ address.type }}</a></td>
        <td><a href="{% url municipality_detail_view_reverse_url address.municipality.id %}">{{ address.municipality }}</a></td>
        {% if type == 'person' %}
            <td><a href="{% url person_detail_view_reverse_url address.person.id %}">{{ address.person }}</a></td>
        {% elif type == 'company' %}
            <td><a href="{% url company_detail_view_reverse_url address.company.id %}">{{ address.company }}</a></td>
        {% endif %}
    </tr>
</table>

{% include "django_futils/includes/address_map.html" with x=address.map.x y=address.map.y %}

</body>
</html>
