{% load i18n l10n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
     <title>{% translate "Addresses" %}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>
<body>

{% if type == 'person' %}
    <p>{% translate 'List of addresses for person' %} <a href="{% url person_detail_view_reverse_url person.id %}">{{ person }}</a></p>
{% elif type == 'company' %}
    <p>{% translate 'List of addresses for company' %} <a href="{% url company_detail_view_reverse_url company.id %}">{{ company }}</a></p>
{% endif %}

<ul>
{% for address in object_list %}
    {% if type == 'person' %}
        <li><a href="{% url person_address_detail_view_reverse_url address.id %}">{{ address }}</a></li>
    {% elif type == 'company' %}
        <li><a href="{% url company_address_detail_view_reverse_url address.id %}">{{ address }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% include "django_futils/includes/pagination.html" with page_obj=page_obj %}
</body>
</html>
