{% load i18n l10n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Email" %} {{ email.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>
<body>

<a href="{% url opts|admin_urlname_as_dict:'change' email.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Email" %} {{ email.id }}</h1>

<h2>{% translate "Email data" %}</h2>

{% include "django_futils/includes/email_data.html" with email=email %}

<h2>{% translate "Other" %}</h2>

<table>
    <tr>
        <th>{% translate "Type" %}</th>
        {% if type == 'person' %}
            <th>{% translate "Person" %}</th>
        {% elif type == 'company' %}
            <th>{% translate "Company" %}</th>
        {% endif %}
    </tr>
    <tr>
        <td><a href="{% url emailtype_detail_view_reverse_url email.type.id %}">{{ email.type }}</a></td>
        {% if type == 'person' %}
            <td><a href="{% url person_detail_view_reverse_url email.person.id %}">{{ email.person }}</a></td>
        {% elif type == 'company' %}
            <td><a href="{% url company_detail_view_reverse_url email.company.id %}">{{ email.company }}</a></td>
        {% endif %}
    </tr>
</table>
</body>
</html>
