{% load i18n l10n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Telephone" %} {{ telephone.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>
<body>

<a href="{% url opts|admin_urlname_as_dict:'change' telephone.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Telephone" %} {{ telephone.id }}</h1>

<h2>{% translate "Telephone data" %}</h2>

{% include "django_futils/includes/telephone_data.html" with telephone=telephone %}

<h2>{% translate "Other" %}</h2>

<table>
    <tr>
        <th>{% translate "Type" %}</th>
        {% if type == 'person' %}
            <th>{% translate "Person" %}</th>
        {% elif type == 'company' %}
            <th>{% translate "Company" %}</th>
        {% endif %}
    </tr>
    <tr>
        <td><a href="{% url telephonetype_detail_view_reverse_url telephone.type.id %}">{{ telephone.type }}</a></td>
        {% if type == 'person' %}
            <td><a href="{% url person_detail_view_reverse_url telephone.person.id %}">{{ telephone.person }}</a></td>
        {% elif type == 'company' %}
            <td><a href="{% url company_detail_view_reverse_url telephone.company.id %}">{{ telephone.company }}</a></td>
        {% endif %}
    </tr>
</table>
</body>
</html>
