POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_EXPOSED_PORT=3051
POSTGRES_GUEST_PORT=5432
LOCAL_PYPI_SERVER_DOMAIN=pypi.org

# https://stackoverflow.com/questions/48495663/docker-compose-env-file-not-working
# https://staxmanade.com/2016/05/how-to-get-environment-variables-passed-through-docker-compose-to-the-containers/
