POSTGRES_USER=postgres
POSTGRES_PASS=postgres
LOCAL_PYPI_SERVER_DOMAIN=pypi.org

# https://stackoverflow.com/questions/48495663/docker-compose-env-file-not-working
# https://staxmanade.com/2016/05/how-to-get-environment-variables-passed-through-docker-compose-to-the-containers/

PACKAGE_NAME=django_futils
APP_NAME=django_futils
MODELS=default_models.py
AUTH_MODULE=django_futils
MODELS_MODULE=default_models

HTTP_LISTENING_PROD_ADDRESS=0.0.0.0

# Ports.
POSTGRES_EXPOSED_PORT=3051
POSTGRES_GUEST_PORT=5432
SERVE_DEV_PORT=3050
SERVE_PROD_PORT=3050
