[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Tests.
model_bakery = "~=1.2"

# Documentation.
Sphinx = "~=3.3"
sphinx-rtd-theme = "~=0.5"

# Tools.
pygraphviz = "~=1.6"
pre-commit = "~=2.9"

[packages]
# Base.
Django = "~=3.1"
requests = "~=2.25"

# Models.
django-countries = "~=7.0"
django-phone-field = "~=1.8"
django-vies = "~=5.0"
## Model history.
django-simple-history = "~=2.12"
## Remove dangling files.
django-cleanup = "~=5.1"

# Postgres.
# If you prefer to avoid building psycopg2 from source, please install the PyPI
#'psycopg2-binary' package instead.
psycopg2-binary = "~=2.8"

# Tools.
django-extensions = "~=3.1"

[requires]
python_version = "3.9"
