version: '3.8'

services:
    web:
        ports:
            - 3050:3050
        command: sh -c './utils/poll_postgres.sh ${POSTGRES_USER} ${POSTGRES_PASS} ${POSTGRES_GUEST_PORT} && export PYTHONDONTWRITEBYTECODE=1 && make test'
        restart: 'no'
