{% load i18n %}

{% load static %}
{% load generic_filters %}
<!doctype html>
<html>
<head>
    <title>{% translate "Address type" %} {{ addresstype.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>

<a href="{% url 'admin:django_futils_addresstype_change' addresstype.id %}">{% translate 'Change' %}</a>

<h1>{% translate "Address type" %} {{ addresstype.id }}</h1>

<h2>{% translate "Address type data" %}</h2>

{% include "django_futils/includes/type_data.html" with type=addresstype %}
</html>
