{% load i18n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Company" %} {{ company.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>
<body>
<a href="{% url opts|admin_urlname_as_dict:'change' company.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Company" %} {{ company.id }}</h1>

<h2>{% translate "Registry" %}</h2>

{% block registry_table %}
<table>
    <tr>
        <th>{% translate "Name" %}</th>
        <th>{% translate "VAT" %}</th>
        <th>{% translate "Is primary" %}</th>
    </tr>
    <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.vat }}</td>
        <td>{{ company.is_primary }}</td>
    </tr>
</table>
{% endblock %}

<h2>{% translate "Contacts" %}</h2>

{% block contacts_table %}
<table>
    <tr>
        <th><a href="{% url company_address_list_view_reverse_url company.id %}">{% translate "Address" %}</a></th>
        <th><a href="{% url company_telephone_list_view_reverse_url company.id %}">{% translate "Telephone" %}</a></th>
        {% if company.companyemail_of_this_company.all|length %}
            <th><a href="{% url company_email_list_view_reverse_url company.id %}">{% translate "Email" %}</a></th>
        {% else %}
            <th>{% translate "Email" %}</th>
        {% endif %}
    </tr>
        {% with address=company.companyaddress_of_this_company.all|filter_primary:company.companyaddress_of_this_company.all %}
        <td><a href="{% url company_address_detail_view_reverse_url address.id %}">{{ address }}</a></td>
        {% endwith %}
        {% with telephone=company.companytelephone_of_this_company.all|filter_primary:company.companytelephone_of_this_company.all %}
        <td><a href="{% url company_telephone_detail_view_reverse_url telephone.id %}">{{ telephone }}</a></td>
        {% endwith %}
        {% with email=company.companyemail_of_this_company.all|filter_primary:company.companyemail_of_this_company.all %}
            {% if email %}
                <td><a href="{% url company_email_detail_view_reverse_url email.id %}">{{ email }}</a></td>
            {% else %}
                <td>?</td>
            {% endif %}
        {% endwith %}
    </tr>
</table>
{% endblock %}
</body>
</html>
