{% load i18n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Municipality" %} {{ municipality.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>
<body>
<a href="{% url opts|admin_urlname_as_dict:'change' municipality.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Municipality" %} {{ municipality.id }}</h1>

<h2>{% translate "Municipality data" %}</h2>

{% block data_table %}
<table>
    <tr>
        <th>{% translate "Code" %}</th>
        <th>{% translate "Description" %}</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "County" %}</th>
    </tr>
    <tr>
        <td>{{ municipality.code }}</td>
        <td>{{ municipality.description }}</td>
        <td>{{ municipality.name }}</td>
        <td>{{ municipality.country.code }} ({{ municipality.country.name }})</td>
    </tr>
</table>
{% endblock %}
</body>
</html>
