{% load i18n %}
{% load l10n %}

{% load static %}
{% load leaflet_tags %}
{% load generic_filters %}
<head>
    <title>{% translate "Address" %} {{ personaddress.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>

<a href="{% url 'admin:django_futils_personaddress_change' personaddress.id %}">{% translate 'Change' %}</a>

<h1>{% translate "Address" %} {{ personaddress.id }}</h1>

<h2>{% translate "Address data" %}</h2>

{% if personaddress.map %}
    {% leaflet_map "map" callback="window.map_init_basic" %}
{% endif %}

<br />

{% include "django_futils/address_data.html" with address=personaddress %}

<h2>{% translate "Other" %}</h2>

<table>
    <tr>
        <th>{% translate "Type" %}</th>
        <th>{% translate "Municipality" %}</th>
        <th>{% translate "Person" %}</th>
    </tr>
    <tr>
        <td><a href="{% url 'addresstype' personaddress.type.id %}">{{ personaddress.type }}</a></td>
        <td><a href="{% url 'municipality' personaddress.municipality.id %}">{{ personaddress.municipality }}</a></td>
        <td><a href="{% url 'person' personaddress.person.id %}">{{ personaddress.person }}</a></td>
    </tr>
</table>

{% include "django_futils/address_map.html" with x=personaddress.map.x y=personaddress.map.y %}

</body>
