{% load i18n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Person" %} {{ person.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>

<a href="{% url opts|admin_urlname_as_dict:'change' person.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Person" %} {{ person.id }}</h1>

<h2>{% translate "Registry" %}</h2>

<table>
    <tr>
        <th>{% translate "First name" %}</th>
        <th>{% translate "Last name" %}</th>
        <th>{% translate "Date of birth" %}</th>
        <th>{% translate "City of birth" %}</th>
        <th>{% translate "Fiscal code" %}</th>
    </tr>
    <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td>
        <td>{{ person.date_of_birth }}</td>
        <td>{{ person.city_of_birth }}</td>
        <td>{{ person.fiscal_code }}</td>
    </tr>
</table>

<h2>{% translate "Contacts" %}</h2>

<table>
    <tr>
        <th><a href="{% url person_address_list_view_reverse_url person.id %}">{% translate "Address" %}</a></th>
        <th><a href="{% url person_telephone_list_view_reverse_url person.id %}">{% translate "Telephone" %}</a></th>
        <th><a href="{% url person_email_list_view_reverse_url person.id %}">{% translate "Email" %}</a></th>
    </tr>
        {% with address=person.personaddress_of_this_person.all|filter_primary:person.personaddress_of_this_person.all %}
        <td><a href="{% url person_address_detail_view_reverse_url address.id %}">{{ address }}</a></td>
        {% endwith %}
        {% with telephone=person.persontelephone_of_this_person.all|filter_primary:person.persontelephone_of_this_person.all %}
        <td><a href="{% url person_telephone_detail_view_reverse_url telephone.id %}">{{ telephone }}</a></td>
        {% endwith %}
        {% with email=person.personemail_of_this_person.all|filter_primary:person.personemail_of_this_person.all %}
            {% if email %}
                <td><a href="{% url person_email_detail_view_reverse_url email.id %}">{{ email }}</a></td>
            {% else %}
                <td>?</td>
            {% endif %}
        {% endwith %}
    </tr>
</table>
</html>
