{% load i18n l10n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Attachment" %} {{ personattachment.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>
<body>
<a href="{% url opts|admin_urlname_as_dict:'change' personattachment.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Attachment" %} {{ personattachment.id }}</h1>

<h2>{% translate "Attachment data" %}</h2>

{% block data_table %}
<table>
    <tr>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Notes" %}</th>
        <th>{% translate "Type" %}</th>
        <th>{% translate "File" %}</th>
    </tr>
    <tr>
        <td>{{ personattachment.name }}</td>
        <td>{{ personattachment.notes }}</td>
        <td><a href="{% url attachmenttype_detail_view_reverse_url personattachment.type.id %}">{{ personattachment.type }}</a></td>
        <td><a href="{% get_media_prefix %}{{ personattachment.file.name }}">{{ personattachment.file.name|filter_url_last_path_component:personattachment.file.name }}</a></td>
    </tr>
</table>
{% endblock %}
</body>
</html>
