{% load i18n %}

{% load static %}
{% load generic_filters %}
<head>
    <title>{% translate "Person" %} {{ person.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>

<a href="{% url 'admin:django_futils_person_change' person.id %}">{% translate 'Change' %}</a>

<h1>{% translate "Person" %} {{ person.id }}</h1>

<h2>{% translate "Registry" %}</h2>

<table>
    <tr>
        <th>{% translate "First name" %}</th>
        <th>{% translate "Last name" %}</th>
        <th>{% translate "Date of birth" %}</th>
        <th>{% translate "City of birth" %}</th>
        <th>{% translate "Fiscal code" %}</th>
    </tr>
    <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td>
        <td>{{ person.date_of_birth }}</td>
        <td>{{ person.city_of_birth }}</td>
        <td>{{ person.fiscal_code }}</td>
    </tr>
</table>

<h2>{% translate "Contacts" %}</h2>

<table>
    <tr>
        <th><a href="{% url 'personaddress-list' person.id %}">{% translate "Address" %}</a></th>
        <th><a href="{% url 'persontelephone-list' person.id %}">{% translate "Telephone" %}</a></th>
        <th><a href="{% url 'personemail-list' person.id %}">{% translate "Email" %}</a></th>
    </tr>
        {% with address=person.personaddress_of_this_person.all|filter_primary:person.personaddress_of_this_person.all %}
        <td><a href="{% url 'personaddress-detail' address.id %}">{{ address }}</a></td>
        {% endwith %}
        {% with telephone=person.persontelephone_of_this_person.all|filter_primary:person.persontelephone_of_this_person.all %}
        <td><a href="{% url 'persontelephone-detail' telephone.id %}">{{ telephone }}</a></td>
        {% endwith %}
        {% with email=person.personemail_of_this_person.all|filter_primary:person.personemail_of_this_person.all %}
            {% if email %}
                <td><a href="{% url 'personemail-detail' email.id %}">{{ email }}</a></td>
            {% else %}
                <td>?</td>
            {% endif %}
        {% endwith %}
    </tr>
</table>
