{% load i18n static generic_filters admin_urls %}
<!doctype html>
<html>
<head>
    <title>{% translate "Telephone type" %} {{ telephonetype.id }}</title>
    <link rel="stylesheet" href="{% static 'css/export.css' %}">
</head>

<a href="{% url opts|admin_urlname_as_dict:'change' telephonetype.id|admin_urlquote %}">{% translate 'Change' %}</a>

<h1>{% translate "Telephone type" %} {{ telephonetype.id }}</h1>

<h2>{% translate "Telephone type data" %}</h2>

{% include "django_futils/includes/type_data.html" with type=telephonetype %}
</html>
